body {
    background: url('http://static.dota188.com/images/body-bg.jpg');
    margin-top: 110px;
}
a {
    color: #EEE;
    text-decoration: none;
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    -ms-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
}
header {
    background: url(http://www.gosugamers.net/images/themes/default/body-bkg-n.jpg) top left;
    height: 93px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    transition-delay: .00ms;
    transition: height 300ms cubic-bezier(0.165,0.840,0.440,1.000);
}
header .logo .game {
    display: block;
    height: 100%;
    width: 60px;
    background-image: url(http://www.gosugamers.net/images/logo-games/gosu-logo-gamers.png);
    width: 106px;
    transition-delay: 300ms;
}
header .logo {
    height: 66px;
    background-image: url(http://www.gosugamers.net/images/themes/default/gglogo-n.png);
    background-repeat: no-repeat;
    background-position: center left;
    font-family: "Bebas_Neue",serif;
    font-size: 43px;
    color: #fff;
    max-width: 175px;
    padding-left: 64px;
    position: relative;
    display: block;
    text-align: left;
    background-size: contain;
    margin-top: 13px;
    float: left;
    transition-delay: 300ms;
}
header .menus {
    padding: 0;
    background-color: #252525;
    float: right;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 75%;
}
header .menus:before {
    content: "";
    height: 100%;
    position: absolute;
    width: 23.25px;
    left: -23.25px;
    box-sizing: border-box;
    border-right: 23.25px solid #252525;
    border-top: 93px solid transparent;
    transition-delay: .00ms;
}
header .sub-menu {
    line-height: 40px;
    height: 40px;
    float: left;
    margin: 0;
    overflow: hidden;
    transition-delay: .00ms;
    display: inline-block;
    font-size: 0;
}
header .sub-menu ul {
    width: 100%;
    padding-left: 3px;
}
header .sub-menu ul li {
    position: relative;
    float: left;
    padding: 0;
    display: inline-block;
    margin: 0;
}
header .sub-menu li.active {
    background: #202020;
    background: -moz-linear-gradient(top,#202020 0,#913232 100%) !important;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#202020),color-stop(100%,#913232)) !important;
    background: -webkit-linear-gradient(top,#202020 0,#913232 100%) !important;
    background: -o-linear-gradient(top,#202020 0,#913232 100%) !important;
    background: -ms-linear-gradient(top,#202020 0,#913232 100%) !important;
    background: linear-gradient(to bottom,#202020 0,#913232 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#202020',endColorstr='#913232',GradientType=0) !important;
}
header .sub-menu ul li a {
    font-size: 13px;
    line-height: inherit;
    padding: 0;
    color: #9d9da3;
    line-height: normal;
    font-weight: 400;
    overflow: hidden;
    padding: 11px 8px 11px 8px;
    font-family: "Open Sans",sans-serif;
    font-family: "Oswald",sans-serif;
    display: block;
    position: relative;
}
header .sub-menu ul li:hover a {
    color: #fff;
    border-bottom: 5px solid #ee4144;
    text-decoration: none;
}
header .sub-menu ul li.active a {
    color: #fff;
    border-bottom: 5px solid #ee4144;
}
header .sub-menu ul li.active {
    background: none !important;
}
header .main-menu {
    line-height: 53px;
    height: 53px;
    margin: 0;
    border: 0;
    text-transform: uppercase;
    font-size: 16px;
    background: 0;
    float: left;
    clear: left;
    width: auto;
    border: 0;
}
header .main-menu ul {
    padding-left: 0;
    display: block;
    margin-left: -16px;
}
header .main-menu li:first-child {
    border: 0;
}
header .main-menu ul li {
    height: 50px;
    line-height: 50px;
    padding: 0;
    position: relative;
    float: left;
    border-left: 1px transparent solid;
}
header .main-menu ul li a {
    font-size: 14px;
    line-height: inherit;
    height: 100%;
    background: 0;
    padding: 0 13px;
    font-family: "Oswald",sans-serif;
    color: darkgray;
    position: relative;
    overflow: hidden;
}
header .main-menu li a {
    z-index: 1001;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 48px;
    color: #999;
    padding: 0 20px;
    display: block;
    height: 48px;
    background: #0c0c0c;
    background: -moz-linear-gradient(top,#0c0c0c 0,#292929 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#0c0c0c),color-stop(100%,#292929));
    background: -webkit-linear-gradient(top,#0c0c0c 0,#292929 100%);
    background: -o-linear-gradient(top,#0c0c0c 0,#292929 100%);
    background: -ms-linear-gradient(top,#0c0c0c 0,#292929 100%);
    background: linear-gradient(to bottom,#0c0c0c 0,#292929 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c0c0c',endColorstr='#292929',GradientType=0);
}
header .main-menu li a:hover {
    background: 0;
    color: #9d9da3 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000',endColorstr='#292929',GradientType=0);
    color: #FFF !important;
    text-decoration: none;
}
#main-content {
    background: #ddd;
}
#main-content .title {
    font-size: 14px;
}
h3.title {
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
}
#side-bar {
    color: #ccc;
}
#side-bar .module {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #666;
}
.video {
    font-size: 13px;
}
.video a:hover {
    text-decoration: none;
}
.video a:hover .thumbnail {
    outline: 1px solid #777;
}
.video a:hover .thumbnail h4 {
    text-decoration: none;
    color: red;
}
.video a:hover .thumbnail p {
    text-decoration: none;
}
.event {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.event img {
    width: 280px;
    height: 80px;
}
.event a {
    color: black;
    font-weight: bold;
    font-size: 18;
}
.module {
    margin-bottom: 10px;
}
.menu-matches {
    list-style: none;
    padding: 0 10px;
    vertical-align: middle;
}
.match {
    width: 100%;
    clear: both;
    display: block;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 400;
}
.match:last-child {
    border-bottom: none;
}
.match a {
    color: #fff;
}
.match img {
    width: 20px;
    height: 20px;
}
ul.tab-list {
    list-style-type: none;
}
ul.tab-list li {
    float: left;
    display: block;
    padding: 2px 5px;
}
.module ul.nav-tabs {
    margin: 0 10px;
    border-bottom: 1px solid #16c0ca;
}
.module ul li {
    margin-right: 2px;
}
.module ul.nav-tabs li a {
    padding: 2px 5px;
    border-radius: 0;
    border: none;
    border-bottom: transparent;
    color: #fff;
    background: none;
}
.module ul.nav-tabs li.active {
    border: none;
    color: #ccc;
    background: #16c0ca;
}
.module ul.nav-tabs li a:hover, .module ul.nav-tabs li a:focus {
    border: none;
    color: #ccc;
    background: none;
}
.module ul.news {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}
.module ul.news a {
    color: #fff;
}
.module ul.news a:hover {
    color: #ccc;
}
.new {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.new:last-child {
    border-bottom: none;
}
.site-footer {
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px 0;
    border-top: 5px solid #16c2cc;
}